# Confront CMIP5 gpp outputs with available benchmarks.

[h1: Carbon Cycle in CMIP5 Models]
bgcolor  = "#FFECE6"              

#-----------------------------------------------------------------------

[h2: Gross Primary Production]
variable       = "gpp"
cmap           = "Greens"
weight         = 5
mass_weighting = True

[Fluxnet]
source     = "DATA/gpp/FLUXNET/gpp.nc"
weight     = 9

[Fluxnet-MTE]
source     = "DATA/gpp/FLUXNET-MTE/gpp_0.5x0.5.nc"
weight     = 15
space_mean = False
skip_iav   = True
