# Benchmark gpp, reco, nep, cwood, le, lai outputs from all MsTMIP models
# against all available benchmarks. Also compare variables: gpp vs lai,
# lai vs le, and le vs gpp.

[h1: Carbon Cycle in MsTMIP Models]
bgcolor  = "#FFECE6"              

#-----------------------------------------------------------------------

[h2: Gross Primary Production]
variable = "gpp"
cmap = "YlGnBu"
mass_weighting = True

[Fluxnet]
source = "DATA/gpp/FLUXNET/gpp.nc"
weight = 9
table_unit = "g m-2 d-1"
plot_unit = "g m-2 d-1"

[Fluxnet-MTE]
source = "DATA/gpp/FLUXNET-MTE/gpp_0.5x0.5.nc"
weight = 15
table_unit = "Pg yr-1"
plot_unit = "g m-2 d-1"
space_mean = False
skip_iav = True
relationships = "LeafAreaIndex/AVHRR"

#-----------------------------------------------------------------------

[h2: Ecosystem Respiration]
variable = "reco"
derived = "ra + rh"
cmap = "BuPu"
mass_weighting = True

[Fluxnet]
source = "DATA/reco/FLUXNET/reco.nc"
weight = 6
table_unit = "g m-2 d-1"
plot_unit = "g m-2 d-1"

[GBAF]
source = "DATA/reco/GBAF/reco_0.5x0.5.nc"
weight = 4
table_unit = "Pg yr-1"
plot_unit = "g m-2 d-1"
space_mean = False
skip_iav = True

#-----------------------------------------------------------------------
# A custom confrontation is used: the model variable is nep, but the
# benchmark variable must be nee.

[h2: Net Ecosystem Productivity]
variable = "nee"
alternate_vars = "nep"
ctype = "ConfNEP"
cmap = "PuRd"
mass_weighting = True

[Fluxnet]
source = "DATA/nee/FLUXNET/nee.nc"
weight = 9
table_unit = "g m-2 d-1"
plot_unit = "g m-2 d-1"

[GBAF]
source = "DATA/nee/GBAF/nee_0.5x0.5.nc"
weight = 4
table_unit = "Pg yr-1"
plot_unit  = "g m-2 d-1"
space_mean = False
skip_iav = True

#-----------------------------------------------------------------------

[h2: Biomass]
variable = "biomass"
alternate_vars = "cWood"
skip_rmse = True
cmap = "YlOrBr"
mass_weighting = True

[GEOCARBON]
source = "DATA/biomass/GEOCARBON/biomass_0.5x0.5.nc"
weight = 20
table_unit = "Pg"
plot_unit = "kg m-2"
space_mean = False

[GlobalCarbon]
source = "DATA/biomass/GLOBAL.CARBON/biomass_0.5x0.5.nc"
weight = 16
table_unit = "Pg"
plot_unit = "kg m-2"
space_mean = False

[NBCD2000]
source = "DATA/biomass/NBCD2000/biomass_0.5x0.5.nc"
weight = 8
table_unit = "Pg"
plot_unit  = "kg m-2"
space_mean = False

[USForest]
source = "DATA/biomass/US.FOREST/biomass_0.5x0.5.nc"
weight = 8
table_unit = "Pg"
plot_unit  = "kg m-2"
space_mean = False

#-----------------------------------------------------------------------

[h2: Latent Heat]
variable = "hfls"
alternate_vars = "le"
cmap = "YlOrRd"
mass_weighting = True

[Fluxnet]
source = "DATA/le/FLUXNET/le.nc"
colormap = "Oranges"
weight = 3

[Fluxnet-MTE]
source = "DATA/le/FLUXNET-MTE/le_0.5x0.5.nc"
land = True
weight = 9
skip_iav = True
relationships = "GrossPrimaryProduction/Fluxnet-MTE"

#-----------------------------------------------------------------------

[h2: Leaf Area Index]
variable = "lai"
cmap = "YlGn"
mass_weighting = True

[AVHRR]
source = "DATA/lai/AVHRR/lai_0.5x0.5.nc"
weight = 15

[MODIS]
source = "DATA/lai/MODIS/lai_0.5x0.5.nc"
weight = 15
skip_iav = True
relationships = "LatentHeat/Fluxnet-MTE"
